doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Registration Form
    link(rel="stylesheet", href="assets/CSS/reg.css")

  body
    #navbar-placeholder

    .container
      form.register-form
        h2 Register
        .input-group
          input(type="text", placeholder="First Name", required)
          input(type="text", placeholder="Last Name", required)
        input(type="email", placeholder="Email", required)
        input(type="password", placeholder="Password", required)
        input(type="password", placeholder="Confirm Password", required)
        .terms
          input(type="checkbox", id="terms", required)
          label(for="terms") I accept 
            a(href="#") Terms of Use
        button(type="submit") Register Now

    script.
      fetch('navbar.html')
      .then(response => response.text())
      .then(data => {
        document.getElementById('navbar-placeholder').innerHTML = data;
      });

    script(src="reg.js")
